body {
    background-color: darkslateblue;
    font-family: 'Gloria Hallelujah', cursive;
}

/* .selector-for-some-widget {
    box-sizing: content-box;
  } */

#welcome{
    text-align: center;
    margin: auto;
    padding: auto;
}

#getSortedForm {
    text-align: center;
    margin: auto;
    padding: auto;
}

.card-body {
    text-align: center;
    margin: auto;
    padding: auto;
}