body {
    background-color: darkslateblue;
}

/* .selector-for-some-widget {
    box-sizing: content-box;
  } */

#welcome{
    text-align: center;
    margin: auto;
    padding: auto;
}

#getSortedForm {
    text-align: center;
    margin: auto;
    padding: auto;
}

#studentCard {
    text-align: center;
    margin: auto;
    padding: auto;
}