body {
    background-color: darkslateblue;
    font-family: 'Gloria Hallelujah', cursive;
}

/* .selector-for-some-widget {
    box-sizing: content-box;
  } */

#welcome{
    text-align: center;
    margin: auto;
    padding: auto;
}

#getSortedForm {
    text-align: center;
    margin: auto;
    padding: auto;
}

#studentCard {
    box-sizing: content-box;
    margin: auto;
    padding: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 16px;
}